.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -42%);

  .edit-form {
    padding: 25px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    min-width: 16rem;

    .edit-value {
      margin: 20px 0;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}