@import '../index';

.boardList {
  width: 320px;

  .boardList_item {
    @include flex-row-space-between;
    width: 400px;

    .boardList_board {
      width: 200px;
      height: 60px;
    }
  }
}

.columnButtons {
  width: 320px;
  @include flex-row-space-between;
}

.columnList {
  overflow-x: scroll;
  width: 100% !important;
  margin: 0 10px 0 0 !important;
}

.topBoardPage {
  @include flex-row-space-between;
}

::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
