.edit-profile-wrapper {
  display: flex;
  height: 85vh;

  .profile-image {
    background: url("../../../public/background/edit-profile.jpg") no-repeat left fixed;
    background-size: 40%;
    background-position-y: 60%;
    width: 600px;
  }
}
.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  margin: auto;

  .edit-form {
    padding: 0 25px 25px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20px);
    min-width: 16rem;

    .edit-value {
      margin: 30px 0;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    @media(max-width: 520px) {
      min-width: 16rem;
      padding: 15px;
      margin: 0;

      .button-container {
        .button {
          width: 150px;
        }
      }
    }
  }
}

.css-k4qjio-MuiFormHelperText-root.Mui-error {
  line-height: 1.2em;
  word-wrap: break-word;
  width: 253px;
  position: absolute;
  top: 40px;
}
