.logo {
  background: url('../../../public/project-management-app.svg') no-repeat center;
  background-size: 2.5em 2.5em;
  width: 2.5em;
  height: 2.5em;
}

.link {
  text-decoration: none;
  &__menu {
    color: white;
  }
  &__burger-menu {
    color: black;
  }
}

.menu-buttons-box {
  align-items: center;
}
