.welcome-container {
  padding: 0 10%;
  background-image: url('../../../public/project.png');
  background-position-x: 90%;
  background-repeat: no-repeat;
}

.welcome-header {
  font-size: 2.75rem;
  font-weight: 300;
  max-width: 75%;
  padding-bottom: 2em;
}

.welcome-information {
  font-size: 2.75rem;
  font-weight: 300;
  max-width: 75%;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5em;
}

.team-lead {
  display: block;
  margin-right: 0.5em;
  text-align: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.avatar {
  margin-bottom: 1em;
  width: 15em;
  height: 15em;
  background-size: contain;
  border-radius: 50%;
}

.name {
  display: block;
  text-align: center;
}

.alexander {
  background-image: url('../../../public/alex.jpeg');
}

.tatsiana {
  background-image: url('../../../public/tatsiana.jpeg');
}

.dina {
  background-image: url('../../../public/dina.jpeg');
}

.rs {
  margin-bottom: 2em;
}

.rs-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@media (max-width: 820px) {
  .welcome-container {
    background-image: none;
  }
}