.footer {
  font-size: 16px;
  padding: 0.5em 0;
  flex: 0 0;

  a {
    text-decoration: none;
    color: black;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
}

.year {
  display: flex;
  align-items: center;
}

.github-wrap {
  display: flex;
  justify-content: space-between;

  @media(max-width: 520px) {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
  }
}

.creator {
  background: url('../../../public/icons/gh-cat.svg') no-repeat left;
  background-size: 1.2em 1.2em;
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding-left: 1.2em;
  transition: .3s;
}

.rs-school {
  width: 70px;
  height: 50px;
  background: url('../../../public/icons/rs-text-logo.svg') no-repeat center;
  background-size: contain;
  transition: .3s;
}