.footer {
  font-size: 14px;
  flex: 0 0;
  background: rgba(238, 238, 238, 0.5);

  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: none;
    }
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 34px;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.year {
  display: flex;
  align-items: center;
}

.github-wrap {
  display: flex;
  justify-content: space-between;

  @media(max-width: 520px) {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
  }
}

.creator {
  background: url('../../../public/assets/icons/gh-cat.svg') no-repeat left;
  background-size: 1.2em 1.2em;
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding-left: 1.2em;
  transition: .3s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.rs-school {
  width: 70px;
  height: 25px;
  background: url('../../../public/assets/icons/rs-text-logo.svg') no-repeat center;
  background-size: contain;
  transition: .3s;
}